@model ShaveddaPizzaria.Models.PizzaPreset

<div class="container font-monospace">
	<div>
		<h1 class="display-4 mt-4">Preset Detail</h1>
		<hr />
	</div>
	<form>
		<div class="row justify-content-center">
			<div class="col-8 border border-warning border-4 rounded-3 px-4 py-3 mt-4 bg-black bg-opacity-50">

				<div class="row mt-2 mb-2 justify-content-center">
					<div class="col-5">
						@{
							string imagePath = "~/images/Pizzas/" + Model.ImageTitle; ;

							<img src=@imagePath class="w-100 bg-black bg-opacity-50 border border-3 border-primary rounded-2" asp-append-version="true" />
						}
					</div>
				</div>

				<div class="row mb-3 mt-0">
					<label class="col-sm-3 col-form-label col-form-label-lg text-white" asp-for="PizzaName">Pizza name</label>
					<div class="col-sm-9">
						<input type="text" asp-for="PizzaName" class="form-control-plaintext form-control-lg" readonly>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-3 col-form-label col-form-label-lg text-white">Sauce</label>
					<div class="col-sm-9">
						<input type="text" asp-for="PizzaSauce" class="form-control-plaintext form-control-lg" readonly>
					</div>
				</div>
				<fieldset class="row mb-3">
					<legend class="col-sm-3 col-form-label col-form-label-lg pt-0">Ingredients</legend>
					<div class="col-sm-9 form-check" style="font-size: larger">
						<div class="form-check ps-0">
							<input type="checkbox" style="pointer-events: none; transform: scale(1.3)" asp-for="HasCheese">
							<label style="pointer-events: none;" asp-for="HasCheese">Cheese</label>
						</div>
						<div class="form-check ps-0">
							<input type="checkbox" style="pointer-events: none; transform: scale(1.3)" asp-for="HasPepperoni">
							<label style="pointer-events: none;" asp-for="HasPepperoni">Pepperoni</label>
						</div>
						<div class="form-check ps-0">
							<input type="checkbox" style="pointer-events: none; transform: scale(1.3)" asp-for="HasMushroom">
							<label style="pointer-events: none;" asp-for="HasMushroom">Mushroom</label>
						</div>
						<div class="form-check ps-0">
							<input type="checkbox" style="pointer-events: none; transform: scale(1.3)" asp-for="HasPineapple">
							<label style="pointer-events: none;" asp-for="HasPineapple">Pineapple</label>
						</div>
						<div class="form-check ps-0">
							<input type="checkbox" style="pointer-events: none; transform: scale(1.3)" asp-for="HasTuna">
							<label style="pointer-events: none;" asp-for="HasTuna">Tuna</label>
						</div>
						<div class="form-check ps-0">
							<input type="checkbox" style="pointer-events: none; transform: scale(1.3)" asp-for="HasPrawn">
							<label style="pointer-events: none;" asp-for="HasPrawn">Prawn</label>
						</div>
						<div class="form-check ps-0">
							<input type="checkbox" style="pointer-events: none; transform: scale(1.3)" asp-for="HasHam">
							<label style="pointer-events: none;" asp-for="HasHam">Ham</label>
						</div>
						<div class="form-check ps-0">
							<input type="checkbox" style="pointer-events: none; transform: scale(1.3)" asp-for="HasBeef">
							<label style="pointer-events: none;" asp-for="HasBeef">Beef</label>
						</div>
					</div>
				</fieldset>
				<a class="btn btn-danger" style="width:150px;" asp-controller="Pizza" asp-action="Presets">Back to List</a>
			</div>
		</div>
	</form>
</div>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}


