@model ShaveddaPizzaria.Models.PizzaOrder

<div class="container font-monospace">
	<div>
		<h1 class="display-4 mt-4">Order Detail</h1>
		<hr />
	</div>
	<form>
		<div class="row justify-content-center">
			<div class="col-8 border border-warning border-4 rounded-3 px-4 py-3 mt-4 bg-black bg-opacity-50">
				<div class="row mb-3 mt-0">
					<label class="col-sm-3 col-form-label col-form-label-lg text-white" asp-for="Email">Email</label>
					<div class="col-sm-9">
						<input type="text" asp-for="Email" class="form-control-plaintext form-control-lg" readonly>
					</div>
				</div>
				<div class="row mb-3 mt-0">
					<label class="col-sm-3 col-form-label col-form-label-lg text-white" asp-for="Address">Address</label>
					<div class="col-sm-9">
						<textarea type="text" rows="3" asp-for="Address" 
							class="form-control-plaintext form-control-lg text-break"
							style="resize: none;" readonly>
					</textarea>
					</div>
				</div>
				<div class="row mb-3 mt-0">
					<label class="col-sm-3 col-form-label col-form-label-lg text-white" asp-for="OrderDetails.PizzaName">Pizza name</label>
					<div class="col-sm-9">
						<input type="text" asp-for="OrderDetails.PizzaName" class="form-control-plaintext form-control-lg" readonly>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-3 col-form-label col-form-label-lg text-white">Size</label>
					<div class="col-sm-9">
						<input type="text" asp-for="OrderDetails.PizzaSize" class="form-control-plaintext form-control-lg" readonly>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-3 col-form-label col-form-label-lg text-white">Sauce</label>
					<div class="col-sm-9">
						<input type="text" asp-for="OrderDetails.PizzaSauce" class="form-control-plaintext form-control-lg" readonly>
					</div>
				</div>
				<fieldset class="row mb-3">
					<legend class="col-sm-3 col-form-label col-form-label-lg pt-0">Ingredients</legend>
					<div class="col-sm-9 form-check" style="font-size: larger">
						<div class="form-check ps-0">
							<input type="checkbox" style="pointer-events: none; transform: scale(1.3)" asp-for="OrderDetails.HasCheese">
							<label style="pointer-events: none;" asp-for="OrderDetails.HasCheese">Cheese</label>
						</div>
						<div class="form-check ps-0">
							<input type="checkbox" style="pointer-events: none; transform: scale(1.3)" asp-for="OrderDetails.HasPepperoni">
							<label style="pointer-events: none;" asp-for="OrderDetails.HasPepperoni">Pepperoni</label>
						</div>
						<div class="form-check ps-0">
							<input type="checkbox" style="pointer-events: none; transform: scale(1.3)" asp-for="OrderDetails.HasMushroom">
							<label style="pointer-events: none;" asp-for="OrderDetails.HasMushroom">Mushroom</label>
						</div>
						<div class="form-check ps-0">
							<input type="checkbox" style="pointer-events: none; transform: scale(1.3)" asp-for="OrderDetails.HasPineapple">
							<label style="pointer-events: none;" asp-for="OrderDetails.HasPineapple">Pineapple</label>
						</div>
						<div class="form-check ps-0">
							<input type="checkbox" style="pointer-events: none; transform: scale(1.3)" asp-for="OrderDetails.HasTuna">
							<label style="pointer-events: none;" asp-for="OrderDetails.HasTuna">Tuna</label>
						</div>
						<div class="form-check ps-0">
							<input type="checkbox" style="pointer-events: none; transform: scale(1.3)" asp-for="OrderDetails.HasPrawn">
							<label style="pointer-events: none;" asp-for="OrderDetails.HasPrawn">Prawn</label>
						</div>
						<div class="form-check ps-0">
							<input type="checkbox" style="pointer-events: none; transform: scale(1.3)" asp-for="OrderDetails.HasHam">
							<label style="pointer-events: none;" asp-for="OrderDetails.HasHam">Ham</label>
						</div>
						<div class="form-check ps-0">
							<input type="checkbox" style="pointer-events: none; transform: scale(1.3)" asp-for="OrderDetails.HasBeef">
							<label style="pointer-events: none;" asp-for="OrderDetails.HasBeef">Beef</label>
						</div>
					</div>	
				</fieldset>
				<div class="row mb-3 mt-0 justify-content-end">
					<label class="col-auto col-form-label col-form-label-lg text-white" asp-for="OrderDetails.TotalPrice">Total price:</label>
					<div class="col-1">
						<input type="text" asp-for="OrderDetails.TotalPrice" class="form-control-plaintext form-control-lg" readonly>
					</div>
				</div>
				<a class="btn btn-danger" style="width:150px;" asp-controller="PizzaOrder" asp-action="Index">Back to List</a>
			</div>
		</div>
	</form>
</div>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}


